
#preloadLeft {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/Page1.svg");
    background-size: cover;
    z-index: 10000;
}

#preload.hiding {
    animation: fadeOut 1s;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000;
}

.stage_highlight {
    position: absolute;
    top: 45%;
    left: 25%;
    width: 50%;
    height: 20%;
    overflow: hidden;
    background-image: radial-gradient(ellipse closest-side at 50% 82%, rgba(151, 151, 190, 0.5), rgba(255, 255, 255,0) 90%);
    animation: move_highlight 4.5s linear infinite;
}

.spotlight_swivel {
    animation: rotate_spotlight 4.5s linear infinite;
}

.lamp {
    position: absolute;
    width: 35vh;
    height: 160vh;
    background-image: radial-gradient(ellipse, rgba(197, 107, 219, 0.4), rgba(232, 132, 228, 0.12) 20%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 35%);
    top: -90vh;
    left: 50%;
    transform: translateX(-50%) perspective(24vh) rotateX(45deg);
}

*/
.spotlight {
    opacity: 0.7;
    transform: scale(1.5,3);
    position: absolute;
    top: -20vh;
    left: calc(50% - 75vh);
}

#fest_logo {
    position: absolute;
    max-width: 160px;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    background-blend-mode: multiply;
}

@keyframes rotate_spotlight {
    0% {
        transform: rotate(0deg) scaleY(1.1) translateY(0);
    }
    25% {
        transform: rotate(-7deg) scaleY(1.0) translateY(-1.3vh);
    }
    50% {
        transform: rotate(0deg) scaleY(1.1) translateY(0);
    }
    75% {
        transform: rotate(7deg) scaleY(1.0) translateY(-1.3vh);
    }
    100% {
        transform: scaleY(1.1);
    }
}

@keyframes move_highlight {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(11vh);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-11vh);
    }
}


@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
