@media (min-width: 1200px) and (max-width: 1399.98px) {  
    
    .underwater {
        height: 370vh;
    }
    
    .siteLogo{
        width: 10%;
    }

    .siteLogo img{
        height: 12vh;
    }

    .menu-icon {
        display: none;
    }

    .titleLogo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titleLogo img{
        height: 8vh;
    }

    .titleName{
        font-size: 15vh;
        margin-top: 0;
        margin-bottom: 0;
    }

    .titleDescription{
        font-size: 5vh;
    }

    .eventsSection{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100vh;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    
    .eventsTitle {
        padding-top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 11vh;
        letter-spacing: 1vh;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .cards-column-one{
        margin-top: 5vh;
    }
    
    .cards-column-two{
        margin-top: 5vh;
    }

    .card{
        width: 25%;
        height: 50vh;
    }



    .rulesSection{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 250vh;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    
    .rulesTitle {
        padding-top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 11vh;
        letter-spacing: 1vh;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}