/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    
    .navbar-icon{
        display: none;
    }

    .menu-icon {
        top: 3vh;
        right: 3vh;
    }

    .underwater {
        height: 400vh;
        overflow-y: hidden;
    }

    .nav__list-item{
        margin-bottom: 3vh;
        font-size: 3.5vh;
    }
    
    .siteLogo{
        width: 20%;
    }

    .siteLogo img{
        height: 12vh;
    }

    .titleLogo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titleLogo img{
        height: 5vh;
    }

    .titleName{
        font-size: 8vh;
        margin-top: 0;
        margin-bottom: 0;
    }

    .titleDescription{
        font-size: 2.5vh;
    }

    .eventsSection{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100vh;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    
    .eventsTitle {
        padding-top: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 6vh;
        letter-spacing: 0.5vh;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .cards-column-one{
        flex-direction: column;
        margin-top: 5vh;
    }
    
    .cards-column-two{
        flex-direction: column;
    }

    .card{
        width: 70%;
        height: 40vh;
        margin-bottom: 4vh;
    }



    .rulesSection{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 300vh;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    
    .rulesTitle {
        padding-top: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 6vh;
        letter-spacing: 0.5vh;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .rule{
        width: 70%;
        font-size: 2.2vh;
        margin: 2vh;
    }

}