:root{
    --page-gradient-1: #533483;
    --page-gradient-2: #0F3460;
}

@import url("https://fonts.gstatic.com/s/italiana/v16/QldNNTtLsx4E__B0XQmWaXw.woff2");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titleBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-x: hidden;
}

.titleImage img{
    width: 100%;
    object-fit: cover;
    z-index: -1000;
}

.mainSlant{
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to right, var(--page-gradient-1), var(--page-gradient-2));
    transform: translateY(-190vh);
}

.mainSlant:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin:  top right;
    transform: skewY(18deg);
    /* z-index: -1; */
}

.aboutUsBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100vh;
    left: 0;
    z-index: 100;
    overflow-x: hidden;
}

.aboutUsTitle{
    color: white;
    font-size: 10vh;
    margin-bottom: 4vh;
}

.aboutUsCard{
    border: 1px solid black;
    width: 40vh;
    height: 80vh;
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#aboutUsCard1{
    background-image: url(https://res.cloudinary.com/wizeric/image/upload/v1664200454/Impressions/alex-alvarez-ZK_KZnT5z9U-unsplash_u7btu3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-30vw);
}

#aboutUsCard2{
    background-image: url(https://res.cloudinary.com/wizeric/image/upload/v1664200453/Impressions/hanny-naibaho-aWXVxy8BSzc-unsplash_roud3t.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-27vw) translateY(-10vh);
}

.aboutUsDescription{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    width: 50%;
    font-size: 3vh;
    letter-spacing: 0.1vh;
    padding: 1vh;
    transform: translateX(40vh) translateY(-50vh);
}

.aboutUsSlant{
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to right, var(--page-gradient-1), var(--page-gradient-2));
    transform: translateY(-210vh);
}

.aboutUsSlant:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin:  top left;
    transform: skewY(18deg);
    /* z-index: -1; */
}
