/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    
    .siteLogo img{
        height: 10vh;
    }

    .navbar{
        height: 6vh;
    }

    #titleImage{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 1;
    }

    .suggestion {
      font-size: 0.3em;
    }

    .aboutUs{
      top: 70vh;
      width: 80%;
      font-size: 1.5vh;
      letter-spacing: 0.2vh;
      position: absolute;
      bottom: 10vh;
      text-shadow: -1px -1px 0px #000, 1.5px 1.5px 0px #000, 3px 3px 0px #000;
    }

    .custom-btn {
      width: 35%;
      height: 25px;
      font-size: 0.9vh;
    }

    .bars{
        width: 20px;
        height: 2px;
        background: #fff;
      }
      
      .bars::before,
      .bars::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background: #fff;
      }
      
      .bars::before{
        margin-top: 6px;
      }
      
      .bars::after{
        margin-top: 12px;
      }

      nav .close div::before,
      nav .close div::after{
        width: 20px;
        height: 2px;
      }


    .social-icons li a i {
        font-size: 50%;
        top: 26px;
        left: 26px;
        transform: translateY(-50%) translateX(-50%);
    }
    
    .social-icons a:before {
        width: 50px;
        height: 50px;
    }

}