@media (min-width: 576px) and (max-width: 1200px) {

    /* .navbar{
        height: 5vh;
        width: 65%;
    }

    .siteLogo{
        width: max-content;
    }

    .siteLogo img{
        height: 15vh;
    } */

}