<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressions - Pop Culture Fiesta </title>
    <link rel="shortcut icon" href="../images/ImpressionsFoot.png" type="image/x-icon">
    <link rel="stylesheet" href="../stylesheets/preEvents/landscape.css">
    <link rel="stylesheet" href="../stylesheets/preEvents/styles.css">
    <link rel="stylesheet" href="../stylesheets/preEvents/navbar.css">
    <link rel="stylesheet" href="../stylesheets/preEvents/mediaqueries/mobiles.css">
    <link rel="stylesheet" href="../stylesheets/preEvents/mediaqueries/576.css">
    <link rel="stylesheet" href="../stylesheets/preEvents/mediaqueries/768.css">
    <link rel="stylesheet" href="../stylesheets/preEvents/mediaqueries/992.css">
    <link rel="stylesheet" href="../stylesheets/preEvents/mediaqueries/1200.css">
    <link rel="stylesheet" href="../stylesheets/preEvents/mediaqueries/1400.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

    <div class="nav">
        <div class="nav__content">
            <ul class="nav__list">
                <li class="nav__list-item"><a href="#" class="hover-target">Events</a></li>
                <li class="nav__list-item"><a href="#" class="hover-target">Team</a></li>
                <li class="nav__list-item"><a href="#" class="hover-target">Sponsors</a></li>
                <li class="nav__list-item"><a href="#" class="hover-target">Gallery</a></li>
                <li class="nav__list-item"><a href="#" class="hover-target">Login/Register</a></li>
            </ul>
        </div>
    </div>

    <div class='cursor2' id="cursor2"></div>
    <div class='cursor3' id="cursor3"></div>

    <a href="../index.html" title="backtomainpage">
        <div class="siteLogo">
            <img src="../images/mainpage/ImpressionsFoot.png" alt="">
        </div>
    </a>
    <div class="navbar">
        <div class="navbar-icon" id="events">
            <a href="">
                Events
            </a>
        </div>
        <div class="navbar-icon gallery">
            <a href="">
                Gallery
            </a>
        </div>
        <div class="navbar-icon team">
            <a href="">
                Team
            </a>
        </div>
        <div class="navbar-icon sponsors">
            <a href="">
                Sponsors
            </a>
        </div>
        <div class="navbar-icon signup">
            <a href="/login">
                Login/Register
            </a>
        </div>
    </div>

    <div class="menu-icon hover-target">
        <span class="menu-icon__line menu-icon__line-left"></span>
        <span class="menu-icon__line"></span>
        <span class="menu-icon__line menu-icon__line-right"></span>
    </div>

    <div class="landscape">
        <div class="cloud"></div>
        <div class="cloud cloud-1"></div>
        <div class="water"></div>
    </div>

    <div class="titleBlock">
        <div class="titleName">
            Pop Culture Fiesta
        </div>
        <div class="titleDescription">
            The Flagship Cultural Event at COEP
        </div>
    </div>

    <div class="eventsSection">
        <div class="eventsTitle">
            Events
        </div>

        <main class="events">

            <div class="cards-column-one">
                <div class="card" id="sorcerersupreme">
                    <div class="content">
                        <h2 class="title">Online Event #1</h2>
                        <p class="copy">This is some description</p>
                        <a href="/sorcerersupreme">
                            <button class="btn">Read More</button>
                        </a>
                    </div>
                </div>

                <div class="card" id="memegala">
                    <div class="content">
                        <h2 class="title">Online Event #2</h2>
                        <p class="copy">This is some description too</p>
                        <a href="/sorcerersupreme">
                            <button class="btn">Read More</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="cards-column-two">
                <div class="card" id="graphix">
                    <div class="content">
                        <h2 class="title">The Open Mic Events</h2>
                        <p class="copy">Description Description</p>
                        <a href="./openmicform.html">
                            <button class="btn">Read More</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- <div class="rulesSection">
        <div class="rulesTitle">
            Rules
        </div>

        <div class="rules">

            <div class="rule">
                The participant shall be held responsible for any wrong information entered during registration.
            </div>

            <div class="rule">
                Requests for registration fee refunds will not be entertained.
            </div>

            <div class="rule">
                Participants are not permitted to:
                <ul>
                    <li>
                        Be political, religious, or controversial depictions in their submissions.
                    </li>
                    <li>
                        Have abusive language, obscene or revealing costumes.
                    </li>
                    <li>
                        Have unoriginal submissions, failing which, they will be disqualified.
                    </li>
                </ul>

            </div>

            <div class="rule">
                Impressions reserves the right to disqualify any artwork due to non-compliance with rules.
            </div>

            <div class="rule">
                No submissions will be accepted after the deadline of the event.
            </div>

            <div class="rule">
                Judges' collective decisions will be final and binding. No queries pertaining to the same will
                be
                entertained.
            </div>

            <div class="rule">
                Impressions does not intend for any copyright claims on the artwork. The winners' artwork, if
                posted on
                the social media handles of Impressions, will provide due credit to the creators.
                The decisions of the organizing committee will be final and binding under all circumstances.

            </div>

            <div class="rule">
                The organizing committee reserves the right to postpone, cancel or alter details for any event
                at any
                point of time.
                In case of any difficulties, contact the organizers on the number(s) provided on the official
                posters or
                through the official website.
            </div>

            <div class="rule">
                Important announcements and updates related to the events will be released on the Website and
                the Impressions Instagram page. It is advised to follow our Instagram page and check the website for
                updates regularly.
            </div>

        </div>
    </div> -->

    <div class="underwater"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../scripts/preEvents/timeline.js"></script>
    <script src="../scripts/preEvents/hamburger.js"></script>
    <script src="../scripts/preEvents/navbar.js"></script>
</body>

</html>