@media (min-width: 1400px) { 
    
    .siteLogo{
        width: 10%;
    }

    .siteLogo img{
        height: 15vh;
    }

    .menu-icon {
        display: none;
    }

    #titleImage{
        width: 70%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateY(-70%) translateX(-50%);
    }

    .aboutUsSection{
        width: 80%;
    }
    
    .aboutUsTitle {
        color: white;
        font-size: 9vh;
        letter-spacing: 1vh;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    
    .aboutUsTitleDescription {
        font-size: 2.8vh;
    }
    
    .aboutUsModuleDescription {
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 2vh;
        padding: 1vh;
        font-size: 2.8vh;
    }
    
    .moduletext{
        font-size: 3vh;
    }

    .social-icons i {
        top: 30px;
        left: 30px;
        transform: translateY(-50%) translateX(-50%);
      }
      
      .social-icons a:before {
        width: 60px;
        height: 60px;
      }
      
}