@media (min-width: 1400px) {  
    
    .siteLogo img{
        height: 15vh;
    }

    .menu-icon {
        display: none;
    }

    .aboutUsSection{
        margin-top: 9vh;
    }
    
    .aboutUsTitle {
        color: white;
        font-size: 10vh;
        letter-spacing: 1vh;
        font-weight: 800;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    }
    
    .aboutUsTitleDescription {
        font-size: 3vh;
    }
    
    .aboutUsModuleDescription {
        padding: 1vh;
        font-size: 3vh;
    }
    
    .moduletext{
        font-size: 3.5vh;
    }

}