
/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {  

    .mainTitle img{
        width: 70%;
    }

    .navbar-icon{
        display: none;
    }

    .expanding-button{
        display: flex;
        justify-content: end;
        width: 30%;
    }

    .expanding-button img{
        width: 5vh;
    }

    .collapsing-button{
        position: absolute;
        top: 3vh;
        right: 5vh;
        display: flex;
    }

    .collapsing-button img{
        width: 4vh;
        z-index: 1100;
    }

    .countdown-container {
        top: 70vh;
    }

    .underwater {
        height: 120vh;
    }

    .siteLogo img{
        height: 15vh;
    }

    #headline {
        font-size: 5vh;
        margin-bottom: 3vh;
        letter-spacing: 1vh;
    }
      
    #countdown ul li {
        font-size: 2vh;
        margin-left: 3vw;
        margin-right: 3vw;
        width: 15vw;
    }
      
    #countdown ul li span {
        font-size: 9vh;
    }
    
    .aboutUsSection{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100vh;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    
    .aboutUsTitle {
        padding-top: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 8vh;
        letter-spacing: 0.5vh;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    
    .aboutUsTitleDescription {
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 2vh;
        padding: 1vh;
    }
    
    .aboutUsModuleDescription {
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 2vh;
        padding: 1vh;
    }
    
    .moduletext{
        font-size: 3vh;
    }

    .calltoAction{
        top: 195vh;
        flex-direction: column;
    }
    
    .calltoaction-link{
        width: 100%;
        margin-bottom: 3vh;
    }

    .calltoaction-btn{
        width: 55%;
    }

}