/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {  

    .navbar-icon a{
        font-size: 2.5vh;
    }
    
    .mainTitle img{
        width: 70%;
    }

    .countdown-container {
        top: 70vh;
    }

    .menu-icon {
        display: none;
    }

    .underwater {
        height: 150vh;
    }

    .siteLogo img{
        height: 15vh;
    }

    .mainTitle img{
        width: 70%;
        transform: translateY(-5vh);
    }
    

    #headline {
        font-size: 5vh;
        margin-bottom: 3vh;
        letter-spacing: 1vh;
    }
      
    #countdown ul li {
        font-size: 3vh;
        margin-left: 3vw;
        margin-right: 3vw;
        width: 16vw;
    }
      
    #countdown ul li span {
        font-size: 8vh;
    }
    
    .aboutUsSection{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100vh;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    
    .aboutUsTitle {
        padding-top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 8vh;
        letter-spacing: 0.5vh;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    
    .aboutUsTitleDescription {
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 2vh;
        padding: 1vh;
        font-size: 3.5vh;
    }
    
    .aboutUsModuleDescription {
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 2vh;
        padding: 1vh;
        font-size: 3.5vh;
    }
    
    .moduletext{
        font-size: 4vh;
    }

    .calltoAction{
        top: 220vh;
        flex-direction: column;
    }
    
    .calltoaction-link{
        width: 100%;
        margin-bottom: 3vh;
    }

    .calltoaction-btn{
        width: 50%;
    }

}