/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {  
    :root {
        --displace: -11em
      }

      #loading {
        top: 80%;
      }

    .menu-icon {
        display: none;
    }

    .navbar{
        height: 7vh;
        width: 80%;
    }

    .navbar-icon a{
        font-size: 3vh;
    }

    .siteLogo{
        width: 20%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .siteLogo img{
        height: 13vh;
    }

    #titleImage{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 1;
    }
    
    .aboutUsSection{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    
    .aboutUsTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 7vh;
        letter-spacing: 0.5vh;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    
    .aboutUsTitleDescription {
        font-size: 3vh;
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    
    .aboutUsModuleDescription {
        font-size: 3vh;
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    .moduletext{
        font-size: 3.2vh;
    }

    .social-icons i {
        top: 25px;
        left: 25px;
        transform: translateY(-50%) translateX(-50%);
      }
      
      .social-icons a:before {
        width: 50px;
        height: 50px;
      }

}